@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  outline: 0px;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden auto;
}

body {
  background-color: #252526;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-variation-settings: "slnt" 0;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-flow: column nowrap;
}

#header {
  background: #1e1e1e;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

#title {
  padding-top: calc(2em + 0.2vw);
  font-size: calc(50px + 2vw);
  color: #ccc;
}

#header form {
  width: calc(100% - 32px);
  max-width: 650px;
  min-height: 320px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(53, 56, 60, 0.3);
  border-radius: 6px;
  text-align: center;
  margin: 0 auto;
}

#header form[drag='true'] {
  border: 2px dashed #30363d;
}

#header form[drag='true'] .file-upload-drag-text,
#header form[drag='true'] .file-upload-choose-text {
  display: none;
}

#header form svg {
  margin-bottom: 1rem;
  fill: #7d8590;
}

#header form .file-upload-drag-text,
#header form .file-upload-drop-text {
  margin-bottom: 0.2rem;
  font-weight: bolder;
  font-size: 24px;
  letter-spacing: 0.4pt;
  opacity: 0.9;
}

#header form:not([drag='true']) .file-upload-drop-text {
  display: none;
}

#header form .file-upload-choose-text {
  width: 100%;
  font-size: 16px;
  color: #7d8590;
}

#header form .file-upload-choose-text span {
  padding-left: 4px;
  font-size: inherit;
  color: #2f81f7;
  cursor: pointer;
}

#header form .file-upload-choose-text span:hover {
  text-decoration: underline;
}

#csv_file {
  display: none;
}

#preview {
  width: 100vw;
  overflow: auto hidden;
}

table {
  /* border-collapse: collapse; */
  width: calc(100% - 5px);
  font-size: 14px;
}

thead {
  background-color: #333333;
  color: #ffffff;
}

th,
td {
  padding: 10px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #333333;
  color: #ffffff;
}

tbody tr:hover {
  background-color: #444;
  cursor: pointer;
}